<%= javascript_include_tag 'zero-clipboard' %>
<%= stylesheet_link_tag "search" %>
<div id="search_wrapper">
<%= form_tag("/search", :method=> "get") do %>
  <%= label_tag(:domain_label, "Domain: ") %>
  <%= text_field_tag(:domain, params[:domain], :placeholder => "apple.com")%>
  <%= label_tag(:q_label, "Keywords: ") %>
  <%= text_field_tag(:q, params[:q], :placeholder => "iPhone") %>
  <%= submit_tag("Search") %>
  <br/>
  <% set_default_radio_btn %>
  <%= label_tag(:number_of_results_parent, "Results per page") %>
  <%= radio_button_tag(:number_of_results, "10", params[:number_of_results].to_i==10) %>
  <%= label_tag(:number_of_results_child, "10") %>
  <%= radio_button_tag(:number_of_results, "30", params[:number_of_results].to_i==30) %>
  <%= label_tag(:number_of_results_child, "30") %>
  <%= radio_button_tag(:number_of_results, "100", params[:number_of_results].to_i==100) %>
  <%= label_tag(:number_of_results_child, "100") %>
<% end %>
<div id="d_clip_button">Copy URLs to Clipboard</div>

<script language="JavaScript">
  var clip = new ZeroClipboard.Client();
  clip.glue( 'd_clip_button' );
  clip.addEventListener( 'onMouseOver', clipboardEvent);
  function clipboardEvent() { 
    clip.setText( document.getElementById('txtarea').value);
    clip.setHandCursor( true );
    clip.setCSSEffects( true );
  }

</script>
<div class="clear"></div>
<div id="search_results_container">
  <textarea id="txtarea" cols="100" rows='<%=params[:number_of_results].to_i+2 %>'><%= search_results %></textarea>
</div>
</div>
